# This .gitignore is for the web_builds branch
# It should only contain the built web files

# Ignore everything by default
*

# But include the web build files
!*.html
!*.js
!*.css
!*.json
!*.png
!*.ico
!*.svg
!*.woff
!*.woff2
!*.ttf
!*.otf
!*.xml
!*.txt
!*.map

# Include directories
!*/
!**/

# Ignore hidden files except necessary ones
.*
!.gitignore
!.git/
